.git
.idea
.vscode
.pytest_cache
__pycache__
build
install
log
host_ws/build
host_ws/install
host_ws/log
firmware/stm32_chassis/build
firmware/esp32_sensors/.pio
*.bin
*.elf
*.hex
*.map
*.pdf
*.ogg
foxglove-latest-win.exe

